<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>

      <!-- Upload folder-->
      <setting name="OfflineContentEditor.UploadFolder" value="C:\TDC\Main\Website\upload" />

      <!-- Upload folder-->
      <setting name="OfflineContentEditor.DownloadFolder" value="C:\TDC\Main\Website\temp" />

    </settings>

    <commands>
      
      <command name="offlineedit:import" type="TheDreamCorps.OfflineContentEditor.Client.Commands.ImportFile, TheDreamCorps.OfflineContentEditor"/>
      
      <command name="offlineedit:export" type="TheDreamCorps.OfflineContentEditor.Client.Commands.ExportFile, TheDreamCorps.OfflineContentEditor"/>
      
    </commands>
  </sitecore>
</configuration>